global
    log stdout format raw local0
    maxconn 256

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1m
    timeout server 1m

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 5s

frontend postgres_write
    bind *:5432
    default_backend postgres_nodes

backend postgres_nodes
    option pgsql-check user postgres
    default-server inter 3s fall 3 rise 2
    server primary globalremit-postgres-primary:5432 check
    server standby globalremit-postgres-standby:5432 check backup

